.productoContainer {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
}
.centerTitle {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategray;
    margin-top: 5rem;
}